.navigation {
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: inline-block;
  text-align: center;
  border-bottom: 1px solid #828282;
  -webkit-transform: matrix(1, 0, 0, 1, 0, 0);
          transform: matrix(1, 0, 0, 1, 0, 0);
  color: var(--text-color);
  width: 945px;
}
@media (max-width: 375px) {
  .navigation {
    display: none;
  }
}
.navigation__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}
.navigation__list {
  position: relative;
  padding-bottom: 15px;
}
.navigation__link-first-child {
  font-family: Gilroy-Bold;
  color: var(--title-color);
}
.navigation__link {
  font-family: Gilroy-Bold;
  font-size: 18px;
  line-height: 22px;
  color: var(--text-color);
}